<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="https://e0.pxfuel.com/wallpapers/754/337/desktop-wallpaper-3d-animation-of-building-construction.jpg" style=" background-color: antiquewhite;">
</div style = "margin-left:50%; position = relative">
    <img  src= "{{ url_for('live_camera') }}"  width = "50%" style="position: relative; margin-left: 25%; margin-top: 40px;"/>    
</div>
</body>
</html>